:root{
    /* prim-blue, sec-grey */
    --prim-color:hsl(216, 15%, 34%);
    --prim-color-darker: #2e3642;;
    --sec-color: #e8e8e8;
    --card-img-wide: 80%;
    --card-img-small: 45%;
}

html{
    font-size:62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-size: 1.6rem;
    text-align: center;
    
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    color: var(--prim-color);
    margin: 0;
    font-weight: 900;
    
}
h1{
    font-size:2.8rem;
    padding: 7vh;
    
}
h2 {
    font-size:2.4rem;
    padding: 6vh;
}
h3{
    font-size:1.6rem;
    font-weight: 10;
    padding: 0.1vh;

}
.navbar-box{
    padding:1vh;
    background: var(--prim-color);
}
.navbar-box h3 {
    color: #fff;
}
.navbar-box:hover {
   background: var(--prim-color-darker);

}

.navbar-box{
    padding: 1vh 3vh
}

.main h1{
    background: var(--sec-color);
}

.main h3{
    margin: 5vh;
}

#cards h3{
   
    padding: 4vh 5vh;
}

#my-portrait {
    width: 40%;
    max-width: 300px;
}

.btn {
    background: var(--prim-color);
    border: none;
    border-radius: 5px;
    margin: 1rem 1rem;

}

.btn:hover{
    background: var(--prim-color-darker);
}

.btn h3 {
color: #fff;
margin: 2vh;
}

#my-website {
    color: var(--prim-color-darker);
}

#cards {
    background:  var(--sec-color);
}

.cards-container img {
    max-width: var(--card-img-wide);
    padding: 0.5rem;
}

#footer h2 {
    padding: 2vh;
}

#footer i{
    padding-bottom: 1em;
}


@media (min-width:600px) {
    html{
        font: size 1.8rem;
    }
    #navbar.container{
        display: flex;
        justify-content:center;
        align-items: flex-start;
        
    }
    .cards-container {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    width: 100%;
}
.cards-container img {
    max-width: var(--card-img-small);
    padding: 0.5rem;
}


}
    